.login, .signup, .admin, .edit-destination, .new_order {
    display: flex;
}

form {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 40px auto;
    width: auto;
}

form input, .location-search-input {
    width: 250px;
    margin-left: 10px;
    border: hidden;
}

form>div {
    margin-bottom: 30px;
    width: 450px;
    display: flex;
    border-bottom: solid yellowgreen;
    justify-content: flex-start;
}

form p {
    border: solid thin tomato;
    width: 450px;
}

form div p span {
    margin-left: 10px;
}

form button {
    margin: 2px auto;
    margin-bottom: 60px;
    font-weight: bolder;
    font-size: larger;
    width: 100px;
    height: 50px;
    box-shadow: 2px 2px 2px 2px moccasin;
    border-radius: 10px;
    color: #fff;
    background-color: tomato;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 465px) {
    form {
        padding-left: 5px;
        align-items: center;
    }
    form button {
        margin-bottom: 10%;
    }
}

.admin {
    background-color: #000;
    display: flex;
    justify-content: center;
    margin: 20px;
    border: solid red;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 20px;
}

form.adminlog {
    background-color: #000;
    color: #fff;
    text-align: center;
}

form.adminlog input {
    background-color: inherit;
    color: tomato;
}

#adbtn {
    color: yellowgreen;
}

#adbtn:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.new_order form button, .edit-destination form button {
    margin: 2px auto;
    margin-bottom: 60px;
    font-weight: bolder;
    font-weight: bolder;
    width: 120px;
    height: 50px;
    box-shadow: 2px 2px 2px 2px yellowgreen;
}

.new_order label {
    font-size: 0.8em;
}

.new_order form h3 {
    text-align: center;
    width: 500px;
}

.new_order {
    border: solid yellowgreen;
    height: 0vh;
    overflow: hidden;
    transition: all 0.8s;
}

.edit-destination {
    border: solid yellowgreen;
}

.new_order.open {
    height: 80vh;
}

.order-edit {
    padding: 10px;
}

.order-edit h3 {
    text-align: center;
}

.Overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.ordermodal {
    background-color: #fff;
    position: absolute;
    top: 30vh;
    left: 20%;
}

@media screen and (max-width: 465px) {
    form input {
        width: 200px;
        margin-left: 10px;
        border: hidden;
    }
}

.home img {
    width: 150px;
}

.suggestion-item {
    display: flex;
    border-left: solid yellowgreen;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
}

.suggestion-item--active {
    cursor: pointer;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    background-color: yellowgreen;
}

.autocomplete-dropdown-container {
    position: absolute;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}