body{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-container{
display:flex;
justify-content: space-around;
background-attachment: fixed;
background-color: #E05548;
height:10vh; 
border:solid thin#f0f0f0;
}

.nav{
box-shadow: 2px, 2px 2px 2px #f0f0f0;
display:flex;
justify-content: center;
align-items: center;
border:solid thin#f0f0f0;
width:100%;
}

nav {
text-align: center;
}

footer{
    
    grid-column:1/5;
    display:grid;
    background-color: #f0f0f0;
    border:solid thin #000;

}
.about{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items: center;
    padding:20px;  
    border:solid thin #000;
}
.contact-us{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items: center;
    padding:20px;  
    border:solid thin #000;
}
.copyright{
    display:flex;
    justify-content: center;
    align-items: center;
    border:solid thin #000;
    text-align: center;
}


a{
    text-decoration: none;
    color:inherit;
}

a:hover{
    cursor: pointer;
    opacity:0.7;
}
.contact-us a{
    color:#00f;
}


.wrapper{
    display:flex;
    flex-flow:column ;
    border:solid #D3D3D3;
    margin-left:5%;
    margin-right: 5%;
    overflow:scroll;
    
}

.slate{
    height:10vh;
    padding:20px;
    display:flex;
    flex-flow: column;
    justify-content: space-around;
}
.edit-btn{
    color:#f00;
    
}
.value {
   color: #D3D3D3;
   margin-left: 30px;
}

.sec{
    display:flex;
    justify-content: space-between;
}
input{
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5px;
    height: 0vh;
    transition: 0.9s;
}

input.show{
    height:5vh;

}
.slate-out{
    background-color: #E05548;
    width: 40%;
    margin-left:5%;
    margin-top:5px;
    margin-bottom: 5px;
    border: solid thin #000;
}
aside{
    display: flex;
    justify-content: space-around;
}

.edit-btn:hover, a:hover,button:hover{
    cursor: pointer;
}
.edit-btn:hover{
    transform: scale(1.3, 1.3);
}

button:hover{
    background-color: #f00;
    color:#fff;
    font-weight: bolder;
}
