body{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.nav-container{
display:flex;
justify-content: space-around;
background-attachment: fixed;
background-color: #E05548;
height:10vh; 
border:solid thin#f0f0f0;
}

.nav{
box-shadow: 2px, 2px 2px 2px #f0f0f0;
display:flex;
justify-content: center;
align-items: center;
border:solid thin#f0f0f0;
width:100%;
}

nav {
text-align: center;
}

form{
    height:60vh;
    display:flex;
    flex-flow: column;
    border:solid #D3D3D3;
    margin-left:5%;
    margin-right: 5%;
    overflow:scroll;
}
form>*{
    height:10vh;
    padding:20px;
}
 
form input{
    margin-left:5%;
    margin-right:5%;
}

form button{
    margin:5% 40%;
    border-radius:10px;
    font-size:1.1em;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f00;
    font-weight: bolder;
    padding-bottom: 40px;
    color:#fff;
    box-shadow: 2px 2px 2px 2px #f0f0f0;

}


