.App {
  text-align: center;
  font-size: larger;
  width: 100%;
}

.footer {
  margin-top: 30px;
}

.copywright {
  border-bottom: solid 15px beige;
  border-top: solid beige;
  margin-left: 120px;
  margin-right: 120px;
}


.blog{
  padding: 10px;
}