.App {
  text-align: center;
  font-size: larger;
  width: 100%;
}

.footer{
  margin-top: 80px;
  
}

.copywright{
border-bottom: solid 15px beige;
border-top: solid beige;
margin-left: 120px;
margin-right: 120px;

}


